.video-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    // margin-top: 5px;

    .time {
        font-size: 0.6rem;
        color: #655f5f;
        text-align: end;
        margin-top: 5px;
        width: 100%;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.6rem;
        color: grey;
        margin-top: 23px;
        width: 100%;
        // margin-bottom: px;

        .sub_info1 {
            display: flex;
            align-items: center;
            font-size: 0.5rem;
            flex-direction: row-reverse;
            margin-right: 15px;

            h4 {
                text-align: initial;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .sub_info2 {
            display: flex;
            font-size: 0.5rem;
            color: #ece6e685;
            align-items: center;
            .eye {
                margin-right: 2px;
                color: blue;
            }
        }

        img {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
    }

    h1 {
        font-size: 0.75rem;
        margin-top: 5px;
        color: white;
        font-weight: bold;
        text-align: center;
        height: 52px;
        min-height: 52px;
    }

    i.drum {
        position: absolute;
        top: 10px;

        left: 5px;
        color: chartreuse;
        padding: 3px;
        font-size: 0.6rem;
        background-color: black;
        border-radius: 50%;
        border: 1px solid;
    }

    i.playlist {
        position: absolute;
        bottom: 115px;
        right: 5px;
        z-index: 2;
        color: lightgreen;
        background-color: black;
        border: none;
        padding: 5px;
        box-shadow: 0px 0px 2px 0px white;
        border-radius: 50%;
    }

    .img {
        margin-top: 8px;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        max-height: 192px;
        object-fit: cover;
        filter: drop-shadow(2px 4px 6px black);
    }
}

@media screen and (max-width: 550px) {
    .video-preview h1 {
        font-size: 0.65rem;
    }
    .video-preview .info {
        height: 100%;
    }
}

@media screen and (max-width: 550px) {
    .video-preview .info {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}
